.log{
    width: 350px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 20px 20px 30px black;
    margin-left: 37%;
}
h1{
    color: rgb(2, 2, 128);
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 60px;
    left: 25px;
}
.x{
    position: relative;
    left: 310px;
    top: -50px;
    background-color: rgb(255, 255, 255);
}


input{
    font-size: 24px;
    height: 37px;
    position: relative;
    top: 45px;
    left: 25px;
    background-color: rgb(211, 208, 208);
    border: 0px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 45px;
    left: 25px;
    font-size: 17px;
    color: rgb(43, 42, 42);
}
.senha{
    position: relative;
    top:2px;
    bottom: 10px;
}
.Mostrar{
    position: relative;
    left: 205px;   
}
.p{
    position: relative;
    left: 200px; 
    top: 33px;
}
.entrar{
    width: 300px;
    position: relative;
    top: 60px;
    background-color: rgb(2, 2, 128);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 18px
}
p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
    left: 100px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 18px;
    left: 95px;
    top: 70px;
    color: rgb(2, 2, 128);
    text-decoration: none;
}
